.button {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 300;
	letter-spacing: 0.01em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: $cRed;
	background-color: rgba(143,214,189,0.0);
	border: 2px solid $cRed;
	border-radius: 45px;
}